@model Mobiles.Core.Models.SmartphoneCpu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SmartphoneCpu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoreCount" class="control-label"></label>
                <input asp-for="CoreCount" class="form-control" />
                <span asp-validation-for="CoreCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClockSpeed_MHz" class="control-label"></label>
                <input asp-for="ClockSpeed_MHz" class="form-control" />
                <span asp-validation-for="ClockSpeed_MHz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpuName" class="control-label"></label>
                <input asp-for="GpuName" class="form-control" />
                <span asp-validation-for="GpuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
