<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="PhonesDiskDb"/>
  </appSettings>
  
  <connectionStrings>
    <add name="PhonesMemDb"
         providerName="Microsoft.EntityFrameworkCore.Sqlite"
         connectionString="mobilesmemdb;mode=memory;cache=shared"/>
    <add name="PhonesDiskDb"
         providerName="Microsoft.EntityFrameworkCore.Sqlite"
         connectionString="~/.mobiles/data/db.sqlite"/>
  </connectionStrings>
</configuration>
